html{
    background-color: #ECE2E2;
}

.banner{
    padding-top: 250px;
    min-height: 450px;
    width: 100%;
    background-image: url('img/table.jpg');
    background-position: center;
    background-size: cover;
}

.orderbox{
    min-height: 730px;
    background-color: white;
    margin: 50px 5%;
    border-radius: 20px;
    display: flex;
	overflow: hidden;
}

.title{
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
}

.orderbox-img{
    flex: 1;
    display: flex;
    background-image: url('img/TY.png');
	background-position: center;
    background-size: cover;
}

.orderbox-form{
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.orderbox-form .note{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 30px;
    font-weight: 600;
	text-wrap: balance;
}

table{
	padding: 0 5%;
	width: 100%;
}

tbody{
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

form table tr {
	display: flex;
	justify-content: center;
	align-items: center;
}

form table :is(tr:nth-of-type(1), tr:nth-of-type(3), tr:nth-of-type(4), tr:nth-of-type(5), tr:nth-of-type(7)) td{
	width: 100%;
}

form table tr:nth-of-type(2) td{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

form input{
    height: 50px;
    border-radius: 100px;
    padding-left: 20px;
    border-color: #D9D9D9;
}

form input::placeholder{
    color: #D9D9D9;
}

form .gname{
   	width: 100%;
}

.choose{
	text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.text1, .text2{
    display: flex;
    font-size: 1.5rem;
	align-items: center;
	justify-content: center;
}

select{
    height: 50px;
    width: 200px;
    border-radius: 100px;
    border-color: #D9D9D9;
}

td:has( :is(.gplace, .gbranch, .gdate, .gtime)){
	display: flex;
    align-items: center;
	justify-content: center;
}

.gplace, .gbranch{
	padding-left: 20px;
}

.gdate, .gtime{
    min-width: 200px;
}

.submit input{
    min-width: 200px;
    border: 1px solid var(--medium-gray, #D9D9D9);
    background: linear-gradient(180deg, #AACB73 0%, #FF9B9B 100%);
    color:white;
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
	padding: 0;
}

.end{
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 2rem;
}

.submit input:hover{
    border: 2px solid black;
    color: black;
}

/* ----- Responsive for mobile devices ----- */
@media (max-width: 480px) {
	body{
		background-image: url('img/table.jpg');
		background-position: center;
    	background-size: cover;
	}
	.banner {
		display: none;
	}
	.title{
		color: #ECE2E2;
		font-size: 1.5rem;
	}
	.orderbox-img{
		display: none;
	}

	.orderbox-form .note{
		font-size: 1.8rem;
	}

	tr:nth-of-type(7), tr:nth-of-type(2){
		flex-direction: column;
		gap: 2rem;
	}

	select{
		width: 150px;
	}

	.end{
		font-size: 2rem;
	}

	.choose{
		font-size: 1.6rem;
	}
}

/* ----- Responsive for tablet devices ----- */
@media (min-width: 481px) and (max-width: 768px) {
	.orderbox-img{
		display: none;
	}
	.title{
		color: #ECE2E2;
		font-size: 2rem;
	}
	.banner {
		display: none;
	}
	body{
		background-image: url('img/table.jpg');
		background-position: center;
    	background-size: cover;
	}
}

/* ----- Responsive for PC devices ----- */
@media (min-width: 769px) and (max-width: 1078px) {
	table{
		padding: 0;
	}

	.orderbox-form{
		flex: 5;
	}

	.orderbox-img{
		flex: 2;
	}
}
